ATOMASDK_BEARER_AUTH=your_api_key_here #

# chat completions
CHAT_COMPLETIONS_URL=your_base_url_here
CHAT_COMPLETIONS_MODEL=your_model_here

# embeddings
EMBEDDINGS_URL=your_base_url_here
EMBEDDINGS_MODEL=your_model_here

# images
IMAGES_URL=your_base_url_here
IMAGES_MODEL=your_model_here